.Game{
    /* border: 1px solid red; */
    height: 80vh;
    width: 80vw;
    margin: 5vh auto;
    background-color: #E8E8E8;
    border-radius: 10px;
    box-shadow: -10px -10px 30px 4px rgba(0,0,0,0.1),
    10px 10px 30px 4px rgba(45,78,255,0.15);
    background-color: #BAE8D1;
}

.stats {
    display: flex;
    justify-content: space-around;
    height: 10vh;
    align-items: center;
    text-align: center;
    background-color: rosybrown;
}
.score,.category,.difficulty{
    flex: 1;
    border: 1px solid black;
    border-radius: 5px;
    width: 20vh;
    margin: 0 10px;
}
#category-name, .score-number, #difficulty-setting{
    font-weight: 800;
    font-style: italic !important;
    padding-top: 10px;
    font-size: 16px;
}

.category-heading, .score-heading, .difficulty-heading{
    font-weight: 300;
    text-decoration: underline;

}
    

.play-area {
    height: 60vh;
    width: 70vw;
    margin: 5vh auto;
    display: flex;

}

.q-and-a{
    width: 50vw;
}
.play-area .q-and-a{
    flex: 2;
}
.play-area .question {
    display: flex;
    align-items: center;
    height: 7vh;
    width: 50vw;
    margin: 5vh auto;
    
}
.nextQuestion , .prevQuestion {
    padding-left: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.play-area .answers-field {
    height: 30vh;
    width: 50vw;
    margin:  auto;
    display: flex;
    flex-wrap: wrap;
}

.play-area .answers-field .answer {
    height: 8vh;
    width: 24vw;
    margin: 2vw auto;
    display: flex;
    align-items: center;
    border: 1px solid red;
}

.answer .answer-option {
    width: 20%;
    justify-content: start;
}

.answer .answer-text {
    width: 60%;
}
.question > span{
    color: #272343;
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    text-align: left;
}
.question-number {
    font-size: 32px;
    margin-right: 12px;
}