/* .Game{
    height: 80vh;
    width: 80vw;
    margin: 5vh auto;
    background-color: #E8E8E8;
    border-radius: 10px;
    box-shadow: -10px -10px 30px 4px rgba(0,0,0,0.1),
    10px 10px 30px 4px rgba(45,78,255,0.15);
    background-color: #BAE8D1;

}

.game-wrapper{
    display: flex;
}

.stats {
    display: flex;
    justify-content: space-around;
    height: 10vh;
    align-items: center;
    text-align: center;
    background-color: rosybrown;
    border-radius: 10px;
}
.score,.category,.difficulty{
    flex: 1;
    border: 1px solid black;
    border-radius: 5px;
    width: 20vh;
    margin: 0 10px;
}
#category-name, .score-number, #difficulty-setting{
    font-weight: 800;
    font-style: italic !important;
    padding-top: 10px;
    font-size: 16px;
}

.category-heading, .score-heading, .difficulty-heading{
    font-weight: 300;
    text-decoration: underline;

}
    

.play-area {
    height: 60vh;
    width: 70vw;
    margin: 5vh auto;
    display: flex;

}

.q-and-a{
    width: 50vw;
}
.play-area .q-and-a{
    flex: 2;
}
.play-area .question {
    display: flex;
    align-items: center;
    height: 7vh;
    width: 50vw;
    margin: 5vh auto;
    
}
.nextQuestion , .prevQuestion {
    display: flex;
    align-items: center;
    cursor: pointer;
    text-align: center;
    height: 10vh;
    width: auto;
    margin: auto;
}

.play-area .answers-field {
    height: 30vh;
    width: 50vw;
    margin:  auto;
    display: flex;
    flex-wrap: wrap;
}

.play-area .answers-field .answer {
    height: 8vh;
    width: 24vw;
    margin: 2vw auto;
    display: flex;
    align-items: center;
    border: 1px solid red;
}

.answer .answer-option {
    width: 20%;
    justify-content: start;
}

.answer .answer-text {
    width: 60%;
}
.question > span{
    color: #272343;
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    text-align: left;
}
.question-number {
    font-size: 32px;
    margin-right: 12px;
}

.active {
    color: blue;
}

#answer{
    width: 60%;
} */
#game-card {
	width: 60vw;
	display: flex !important;
	margin: 10vh auto;
	justify-content: center;
	align-items: stretch;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
		0 4px 4px rgba(0, 0, 0, 0.11), 0 6px 8px rgba(0, 0, 0, 0.11),
		0 8px 16px rgba(0, 0, 0, 0.11);
	background-color: #b8c1ec;
	padding: 1vh 0vh;
	border: 1px solid white !important;
	border-radius: 5px;
	color: #121629;
}
.card {
	background-color: #b8c1ec !important;
}
.question-card {
	height: auto;
	padding: 20px 10px;
	width: 96vw;
	border: none !important;
}

.card-subheadings {
	display: flex;
	justify-content: space-between;
	margin-top: 2vh;
}

.example-enter {
	opacity: 0.01;
}

.example-enter.example-enter-active {
	opacity: 1;
	transition: opacity 500ms ease-in;
}

.example-exit {
	opacity: 1;
}

.example-exit.example-exit-active {
	opacity: 0.01;
	transition: opacity 300ms ease-in;
}

.answer-card {
	margin: 2px;
}
.active > .card-text {
	/* background-color: #7f5af0; */
	background-color: #eebbc3;
}
.card-text:hover {
	background-color: #72757e;
}
.card-text {
	padding: 1em;
}
.answers-section {
	height: 40vh;
	vertical-align: center;
	margin-top: 3vh;
}
.card-title.h5 {
	font-size: 24px;
}
.card-subtitle.h6 {
	font-size: 12px;
}
p.card-text {
	font-size: 16px;
	white-space: normal;
}
.prev-question-arrow {
	display: flex;
	align-items: center;
	padding: 10px;
	font-size: xx-large;
	opacity: 0.5;
}

.prev-question-arrow:hover {
	opacity: 1;
	cursor: pointer;
}

@media (max-width: 500px) {
	#game-card {
		width: 96vw;
		display: flex !important;
		margin: 10vh auto;
		justify-content: center;
		color: #0f0f08;
		align-items: stretch;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
			0 4px 4px rgba(0, 0, 0, 0.11), 0 6px 8px rgba(0, 0, 0, 0.11),
			0 8px 16px rgba(0, 0, 0, 0.11);
		background-color: #b8c1ec;
		padding: 1vh 0vh;
		border: 1px solid white !important;
		border-radius: 5px;
	}
	.question-card {
		height: auto;
		padding: 20px 10px;
		width: 96vw;
		border: none !important;
	}

	.card-subheadings {
		display: flex;
		justify-content: space-between;
		margin-top: 2vh;
	}

	.answer-card {
		margin: 2px;
	}
	.active > .card-text {
		background-color: #eebbc3;
	}
	.card-text {
		padding: 1em;
	}
	.answers-section {
		height: 40vh;
		vertical-align: center;
		margin-top: 3vh;
	}
	.card-title.h5 {
		font-size: 16px;
	}
	.card-subtitle.h6 {
		font-size: 10px;
	}
	p.card-text {
		font-size: 12px;
		white-space: normal;
	}
	.prev-question-arrow {
		display: flex;
		align-items: center;
		padding: 10px;
	}
}
