.home {
    text-align: center;
}
.choice{
    width: 80vw;
    display: flex;
    justify-content: center;
    margin: 10vh auto;
    
}

.category-choice,.difficulty-choice{
    width: 40vw;
}

.barricade {
    border: 1px solid black;
    
    height: 60vh;
}

@media (max-width : 500px){
    .choice{
        width: 100%;
    }
    /* .category-choice{
        width: 45vw;
        margin: 0 auto;
    } */
    .new-game-button{
        margin: 2vh;
    }
}