*{
  padding: 0;
  margin: 0;
  /* border: 1px solid red; */

}

.App {
  text-align: center;
  box-sizing: border-box;
  background-color: #bae8e8;
  height: 100vh;
  width: 100vw;
  font-family: 'Open Sans', sans-serif;
  
}


